html {
	scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* //// */
/* style first page */
.first-page {
    background-image: url(/img/mobile-penetration-testing/3p-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.fp-container {
    width: 1070px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 76px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-logo:hover {
    box-shadow: 0 0 20px rgba(7, 86, 177, 0.5);
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dropdown-container {
    display: inline-block;
    position: relative;
    margin-right: 28px;

}

.dropdown-content {
    display: none;
    position: absolute;
    width: 220px;
    background-color: rgba(7, 86, 177, 0.5);;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown-content a {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: rgb(255, 255, 255);
    padding: 7px;
    text-decoration: none;
}

.dropdown-content a:hover {
    box-shadow: 0 0 20px rgba(7, 86, 177, 0.5);
    background-color: #040b16;
}

.dropdown-container:hover .dropdown-content {
    display: block;
    background-color: rgba(7, 86, 177, 0.5);;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);

}

.drop-but {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-but {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    margin-right: 6px;
}

.nav-but:hover {
    box-shadow: 0 0 20px rgba(7, 86, 177, 0.5);

}

.nav-but-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 28px;
}

.main-but {
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 48px;
    background: #1264D2;
}

.main-but:hover {
    box-shadow: 0 0 20px rgba(7, 86, 177, 0.5);
}

.fp-content {
    padding-top: 95px;
    padding-bottom: 44px;
}

.fp-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 20px;
    letter-spacing: 0.5px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.description-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fp-description {
    width: 705px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
}

/* //////// */
/* style second page */
.second-page {
    background: #E5E5E5;
    border-top: 2px solid #1264D2;
    border-bottom: 2px solid #1264D2;

}

.sp-container {
    width: 1070px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 70px;
}

.sp-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.5px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #277AF6;
}

.sp-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

/* ////////////////// */
/* style third page */
.third-page {
    background-image: url(/img/mobile-penetration-testing/3p-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.tp-container {
    width: 904px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 38px;
}

.tp-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.5px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.tp-description {
    width: 904px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #FFFFFF;
    margin-bottom: 32px;
}

/* //////////////// */
/* style fourth page */
.fourth-page {
    background: #E5E5E5;
    border-top: 2px solid #1264D2;
    border-bottom: 2px solid #1264D2;
}

.p4-container {
    width: 904px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 38px;
}

.p4-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.5px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #000000;
    margin-bottom: 40px;
}

.p4-description {
    width: 904px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-feature-settings: 'salt' on, 'liga' off;
    color: rgba(0, 0, 0, 0.68);
    margin-bottom: 32px;
}

/* /////////////////////////////// */
.sixth-page {
    background-image: url(/img/cloud-penetration-testing/3p-background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-bottom: 2px solid #1264D2;
}

/* Style title form container */
.title-form-container {
    width: 1070px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
}

/* style container with title and description */
.title-description-container {
    padding-top: 54px;
    padding-bottom: 16px;
}

.title-sixth-page {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 120%;
    color: #FFFFFF;
    padding-bottom: 8px;
    text-align: center;
}

.description-sixth-page {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 36px;
}

/* style container with form */
.form-container {
    width: 1070px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 32px;
    
}

/* style container with left part of form */
.column-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* style container for evryone input field */
.input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* style label inside form */
label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 8px;
}

/* style input inside form */
.input-form {
    background: #FFFFFF;
    border: 2px solid #1264D2;
    border-radius: 5px;
    padding: 16px 24px;
    width: 250px;
    margin-bottom: 28px;
    transition: width 0.4s ease-in-out;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: #000000;
}

.input-form:focus {
    width: 450px;
}

.input-form:hover {
    box-shadow: 0 0 20px rgba(7, 86, 177, 0.5);
}

/* style textarea inside form container */
textarea {
    background: #FFFFFF;
    border: 2px solid #1264D2;
    border-radius: 5px;
    width: 250px;
    padding: 16px 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: #FFFFFF;
    transition: width 0.4s ease-in-out;

}

textarea:focus {
    width: 450px;

}

textarea:hover {
    box-shadow: 0 0 20px rgba(7, 86, 177, 0.5);
}

/* style button Get a Quote */
.quote-but {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    border: 2px solid #1264D2;
    border-radius: 150px;
    padding: 16px 54px;
    background: none;
    cursor: pointer;
}

.quote-but:hover {
    background-color: rgba(7, 86, 177, 0.2);
    box-shadow: 0 0 20px rgba(7, 86, 177, 0.5);
}


/* ////////////// */
/* Section footer */
footer {
    background: #04152C;
}

.section-footer {
    padding-top: 56px;
    padding-bottom: 64px;
    width: 1070px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-description {
    width: 365px;
    margin-top: 32px;
    margin-bottom: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    color: #FFFFFF;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sm-imag {
    margin-right: 12px;
}

.sm-imag:hover {
    box-shadow: 0px 0 20px rgba(7, 86, 177, 0.5);
}


.contactus-container {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
    padding-bottom: 52px;
}

.paperplane-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.paperplane-description {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
}

.address1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
}

.address2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
}

.cellphone-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 28px;
}

.contact-tel {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
    margin-left: 18px;
}

.contact-tel:hover {
    box-shadow: 0 0 20px rgba(7, 86, 177, 0.5);
}

.email-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 28px;
}

.contact-email {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
    margin-left: 18px;
}

.contact-email:hover {
    box-shadow: 0 0 20px rgba(7, 86, 177, 0.5);
}


.quick-container {
    display: flex;
    flex-direction: column;
}

.quick-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 52px;
}

.form-quick-email {
    width: 301px;
    border: 1px solid #0044BB;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: none;
}

.form-quick-email:hover {
    box-shadow: 0 0 20px rgba(7, 86, 177, 0.5);
}

.quick-email-input {
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 247px;
    vertical-align: middle;
    background: none;
    padding: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    color: rgb(255, 255, 255);
}

.quick-email-input-image {
    border: none;
    width: 48px;
    height: 55.76px;
    background-image: url(/img/quick-image-button.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.0001);
    cursor: pointer;
}

.quick-email-input-image:hover {
    box-shadow: 0 0 20px rgba(7, 86, 177, 0.5);
}

